In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="80.78.255.167",
  port=3306,
  user="igorsber",
  passwd="sber123",
  db="sberbank"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x7fa028190f28>

In [2]:
cur = mydb.cursor()

In [6]:
cur.execute('SHOW TABLES')

for row in cur.fetchall():
    print (row)

('company',)
('education',)
('name',)
('ru_bank_balance_sheet',)

In [7]:
cur.execute('select * from  ru_bank_balance_sheet')

In [35]:
from pandas import DataFrame
df = DataFrame(cur.fetchall())
#df.columns = cur.keys()
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
df.head()

            0     1      2        3        4
0  2017-03-01  1115  20202  57981.0  29980.0
1  2017-03-01  1115  20208  25352.0      0.0
2  2017-03-01  1115  20209      0.0      0.0
3  2017-03-01  1115  30102  82261.0      0.0
4  2017-03-01  1115  30110   5414.0  28693.0

In [49]:
df[0].head()

0    2017-03-01
1    2017-03-01
2    2017-03-01
3    2017-03-01
4    2017-03-01
Name: 0, dtype: object

**Вывод** Также уллучшить результаты, можно используя таблицы 
('company',)
('education',)
('name',)
('ru_bank_balance_sheet',)

Которые тоже содержатся в текущей БД

In [ ]:
# PS

In [29]:
# посмотреть какие БД есть, если в подключение к БД (первая строка) не указывать   db="sberbank" 
cur.execute('SHOW DATABASES')
for row in cur.fetchall():
    print (row)

In [10]:
import MySQLdb

db = MySQLdb.connect(host='80.78.255.167',
                     user='igorsber',            
                     passwd='sber123',
                    db="sberbank")        

cur = db.cursor()

# to apply SQL
cur.execute('select * from  ru_bank_balance_sheet')

for row in cur.fetchall():
    print (row)

db.close()

ModuleNotFoundError: No module named 'MySQLdb'